* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    min-height: 60vh;
    min-width: 60vw;
    background-color: papayawhip;
    margin: 0 auto;
}